<section id="section-register-inmueble">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <div class="registro-inmueble-titulo">
          <p>{{ msgTituloPage }}</p>
        </div>
        <p *ngIf="!cargarImagenes" class="registro-inmueble-descripcion">
          {{
            actualizarInmueble
              ? 'Formulario de actualización de información del inmueble.'
              : 'Formulario de registro de inmuebles, ingrese los siguientes datos.'
          }}
        </p>
      </div>
    </div>

    <div class="row justify-content-center mb-4" *ngIf="!cargarImagenes">
      <div class="col-12 col-md-10">
        <form [formGroup]="formRegistroInmueble" (ngSubmit)="onSubmitFormInmueble()" appValidator autocomplete="off">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tipoInmueble'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'tipoInmueble'"
                    [listaItems]="tiposInmuebles"
                    [placeholder]="'Tipo de inmueble'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'area'">
                  <app-cap-form-input [formData]="formRegistroInmueble" [controlName]="'area'" [placeholder]="'Área del predio'">
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'habitacion'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'habitacion'"
                    [listaItems]="listaHabitaciones"
                    [placeholder]="'Habitaciones'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'estrato'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'estrato'"
                    [listaItems]="listaEstratos"
                    [placeholder]="'Estratos'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'banos'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'banos'"
                    [listaItems]="listaBanios"
                    [placeholder]="'Baños'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'garage'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'garage'"
                    [listaItems]="listaEleccionSiNo"
                    [placeholder]="'Garaje'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'estadoInmueble'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'estadoInmueble'"
                    [listaItems]="estadoInmueble"
                    [placeholder]="'Estado del inmueble'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tiempo'">
                  <app-cap-form-input
                    [formData]="formRegistroInmueble"
                    [controlName]="'tiempo'"
                    [placeholder]="'Tiempo de contruido (meses)'"
                  >
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'precio'">
                  <app-cap-form-input [formData]="formRegistroInmueble" [controlName]="'precio'" [placeholder]="'Precio'">
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tipoPublicacion'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'tipoPublicacion'"
                    [listaItems]="tipoPublicacion"
                    [placeholder]="'Tipo de publicación'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tipoConstruccion'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'tipoConstruccion'"
                    [listaItems]="tipoConstruccion"
                    [placeholder]="'Tipo de contrucción'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'direccion'">
                  <app-cap-form-input [formData]="formRegistroInmueble" [controlName]="'direccion'" [placeholder]="'Dirección'">
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="d-flex justify-content-evenly mt-5">
              <div class="form-button">
                <button class="form-btn bg-gray" type="button" (click)="btnCancel()">Cancelar</button>
              </div>
              <div class="form-button">
                <button class="form-btn" type="submit">
                  {{ actualizarInmueble ? 'Actualizar' : 'Registrar' }}
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-4" *ngIf="cargarImagenes">
      <div class="col-12 col-md-10">
        <app-inmueble-subir-archivos
          [idInmueble]="idInmueble"
          [idUsuario]="idUsuario"
          (actionCargarImg)="cargarImagenes = $event"
          (actionMsgTituloPage)="msgTituloPage = $event"
        ></app-inmueble-subir-archivos>
      </div>
    </div>
  </div>
</section>
