@import 'layout.functions';

.registro-inmueble-titulo {
  font-size: cap-font-size(20px);
  color: var(--color-tercer);
  font-weight: 900;
}

.registro-inmueble-descripcion {
  font-size: cap-font-size(16px);
  color: var(--color-secundario);
  margin: cap-font-size(16px) 0;
}
