<div class="container" id="section-detalle-inmueble">
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <h1 class="detalle-titulo">{{ infoInmueble.tipoInmueble }}</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-6 my-4">
      <app-galeria-inmueble [fotosInmueble]="fotosInmueble"></app-galeria-inmueble>
    </div>
    <div class="col-12 col-md-6 my-4">
      <h3 class="detalle-subtitulo">Detalle</h3>
      <div class="detalle-caracteristicas-one">
        <div class="caracteristica-inmueble">
          <img src="./assets/images/icono-galeria1.png" alt="icon" class="icon-caracteristica" />
          <p>{{ infoInmueble.habitacion }} Habitaciones</p>
        </div>
        <div class="caracteristica-inmueble">
          <img src="./assets/images/icono-galeria2.png" alt="icon" class="icon-caracteristica" />
          <p>{{ infoInmueble.banos }} Baños</p>
        </div>
        <div class="caracteristica-inmueble">
          <img src="./assets/images/icono-galeria3.png" alt="icon" class="icon-caracteristica" />
          <p>{{ infoInmueble.area }} m<sup>2</sup></p>
        </div>
        <div class="caracteristica-inmueble">
          <i class="icon-custom fa-solid fa-location-dot"></i>
          <p>{{ infoInmueble.direccion }}</p>
        </div>
      </div>
      <div class="detalle-caracteristicas-two">
        <div class="detalle-badges">{{ infoInmueble.estado }}</div>
        <div class="detalle-badges">{{ infoInmueble.tipoInmueble }}</div>
        <div class="detalle-badges">{{ infoInmueble.tipoPublicacion }}</div>
      </div>
      <div class="detalle-inmueble-precio">
        <h4>Precio de venta</h4>
        <p class="precio-inmueble">{{ infoInmueble.precio | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
      </div>
      <div class="d-flex justify-content-evenly mt-3">
        <div class="form-button" *ngIf="botonArriendo">
          <button class="form-btn" type="button" (click)="arriendo()">Arrendar</button>
        </div>
        <div class="form-button" *ngIf="botonVenta">
          <button class="form-btn" type="button" (click)="arriendo()">Comprar</button>
        </div>
        <div class="form-button" *ngIf="botonContacto">
          <button class="form-btn" type="button" (click)="arriendo()">Contactar</button>
        </div>
      </div>
    </div>
  </div>
</div>
