<form>
  <h2>Formulario de inscripción</h2>
  <div class="mb-3">
    <label for="referencia" class="form-label">Referencia</label>
    <input type="number" class="form-control" id="referencia" aria-describedby="referencia" />
  </div>
  <div class="mb-3">
    <label for="valor" class="form-label">Valor</label>
    <input type="number" class="form-control" id="valor" aria-describedby="valor" />
  </div>
  <div class="mb-3">
    <label for="fechaHoy" class="form-label">Fecha</label>
    <input type="date" class="form-control" id="fechaHoy" aria-describedby="fechaHoy" />
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descrición</label>
    <textarea name="descricion" id="descricion" class="form-control" cols="30" rows="2"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)="cerrarModalDialog()">Enviar</button>
</form>
