<div class="margin-custom" id=""></div>
<div class="d-flex justify-content-center">
  <div class="section-header-title animate__animated animate__fadeInUp">
    <h1 class="section-title"> <img src="./assets/img/logo-js.png" alt="" width="200" height="200" /> <br>SJ Asociados
      Servicio inmobiliario
    </h1>
  </div>
</div>
<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <a href="venta">
        <div class="servicio-item">
          <div class="icono-custom">
            <img src="./assets/images/icono1.png" alt="" class="img-fluid" />
          </div>
          <div class="titulo">Venta</div>
          <p class="descripcion">
            Necesitas vender o comprar un inmueble, te asesoramos y acompañamos en todos los trámites.
          </p>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <a routerLink="arriendo">
        <div class="servicio-item">
          <div class="icono-custom">
            <img src="./assets/images/icono3.png" alt="" class="img-fluid" />
          </div>
          <div class="titulo">Arrendamientos</div>
          <p class="descripcion">
            Encuentra el espacio que buscas:
            <br>Casas, apartamentos, fincas, bodegas, y locales.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>