<div class="d-flex justify-content-center">
  <div class="section-header-title animate__animated animate__fadeInUp">
    <h1 class="section-title">
      <img src="./assets/image/logo-js.png" alt="logo" width="200" height="200" /> <br />SJ Asociados Servicio inmobiliario
    </h1>
  </div>
</div>
<article class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 my-3">
      <a routerLink="/inmuebles/venta">
        <div class="servicio-item">
          <div class="icono-custom">
            <img src="./assets/image/compras.png" alt="logo" class="img-fluid" />
          </div>
          <div class="titulo">Venta</div>
          <p class="descripcion">Propietario quieres vender o comprar, aqui te mostramos un listado de propiedades en venta</p>
        </div>
      </a>
    </div>
     <div class="col-12 col-sm-6 col-lg-4 my-3">
        <a routerLink="/inmuebles">
          <div class="servicio-item animate__animated animate__fadeInUp">
            <div class="icono-custom">
              <img src="./assets/image/logo-js.png" alt="logo" class="img-fluid" />
            </div>
            <div class="titulo">Pagos</div>
            <p class="descripcion">
             
            </p>
          </div>
        </a>
      </div>
    <div class="col-12 col-md-6 col-lg-4 my-3">
      <a routerLink="/inmuebles/arriendo">
        <div class="servicio-item">
          <div class="icono-custom">
            <img src="./assets/image/alquilar.png" alt="logo" class="img-fluid" />
          </div>
          <div class="titulo">Arrendamientos</div>
          <p class="descripcion">
           Deseas arrendar 
            <br />aqui te mostramos un listado de propiedades en arriendo.
          </p>
        </div>
      </a>
    </div>
  </div>
</article>