<div class="d-flex justify-content-center">
  <div class="section-header-title animate__animated animate__fadeInUp">
    <h1 class="section-title">
      <img src="./assets/image/logo-js.png" alt="logo" width="200" height="200" /> <br />SJ Asociados Servicio inmobiliario
    </h1>
  </div>
</div>
<article class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 my-3">
      <a routerLink="/inmuebles/venta">
        <div class="servicio-item">
          <div class="icono-custom">
            <img src="./assets/image/icono1.png" alt="logo" class="img-fluid" />
          </div>
          <div class="titulo">Venta</div>
          <p class="descripcion">Necesitas vender o comprar un inmueble, te asesoramos y acompañamos en todos los trámites.</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3">
      <a routerLink="/inmuebles/arriendo">
        <div class="servicio-item">
          <div class="icono-custom">
            <img src="./assets/image/icono3.png" alt="logo" class="img-fluid" />
          </div>
          <div class="titulo">Arrendamientos</div>
          <p class="descripcion">
            Encuentra el espacio que buscas:
            <br />Casas, apartamentos, fincas, bodegas, y locales.
          </p>
        </div>
      </a>
    </div>
  </div>
</article>
