<div class="container" id="filtros-propiedades">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 col-lg-3 my-2">
      <div class="form-floating">
        <select
          class="form-select"
          id="tipoInmueble"
          aria-label="Tipo de inmueble"
          (change)="consultarFiltro($event)"
          [(ngModel)]="tipoInmueble"
        >
          <option value="" disabled selected="selected">Elija una opción</option>
          <option *ngFor="let tipo of tiposInmuebles" [value]="tipo.value">{{ tipo.label }}</option>
        </select>
        <label for="tipoInmueble">Tipo de inmueble</label>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 my-2">
      <div class="form-floating">
        <input
          class="form-control"
          id="presupuesto"
          type="text"
          placeholder="Presupuesto"
          (blur)="consultarFiltro($event)"
          [(ngModel)]="presupuesto"
        />
        <label for="presupuesto">Presupuesto</label>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 my-2">
      <div class="form-floating">
        <select class="form-select" id="estado" aria-label="Estado" (change)="consultarFiltro($event)" [(ngModel)]="estado">
          <option value="" disabled selected="selected">Elija una opción</option>
          <option *ngFor="let tipo of estadosInmueble" [value]="tipo.value">{{ tipo.label }}</option>
        </select>
        <label for="estado">Estado</label>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 my-2">
      <div class="form-floating">
        <select
          class="form-select"
          id="habitaciones"
          aria-label="Habitaciones"
          (change)="consultarFiltro($event)"
          [(ngModel)]="habitaciones"
        >
          <option value="" disabled selected="selected">Elija una opción</option>
          <option *ngFor="let tipo of listaHabitaciones" [value]="tipo.value">{{ tipo.label }}</option>
        </select>
        <label for="habitaciones">Habitaciones</label>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-5 text-center">
      <button class="btn-limpiar-filtros" (click)="limpiarFiltros()">Limpiar</button>
    </div>
  </div>
</div>
