<div class="margin-custom" id="valores"></div>
<div class="d-flex justify-content-center">
  <div class="principal__search animate__animated animate__fadeInUp">
    <a class="principal__search--boton textos">VALORES</a>
  </div>
</div>

<section class="course container-fluid">
  <figure class="course__picture course__picture--right animate__animated animate__fadeInLeft">
    <img src="./assets/img/nosotros-2.jpg" class="course__img" />
  </figure>

  <div class="course__about course__about--left animate__animated animate__fadeIn">
    <h2 class="title">Misión:</h2>
    <p class="about__paragraph textos">
      Gestionar propiedades optimizando e incrementando el valor de las mismas en el tiempo, generando satisfacción de nuestros clientes,
      usuarios y proveedores, garantizando el adecuado funcionamientos, la optimización de procesos y la valorización de los mismos de
      manera sostenible, y con conocimiento de la normatividad aplicable a las mismas. Todo esto ejecutado por un equipo humano enfocado al
      servicio y a la gestión oportuna.
    </p>
  </div>
</section>

<section class="course container-fluid my-5">
  <figure class="course__picture animate__animated animate__fadeInLeft">
    <img src="./assets/img/nosotros-3.jpg" class="course__img" />
  </figure>

  <div class="course__about animate__animated animate__fadeIn">
    <h2 class="title">Visión:</h2>
    <p class="about__paragraph textos">
      Para el año 2023 seremos reconocidos en Antioquia como una de las firmas líderes en servicios integrales de administración de
      propiedad horizontal, con un modelo de gestión sistematizado en parámetros eficientes, que permiten incrementar el valor de las
      propiedades horizontales en el tiempo.
    </p>
  </div>
</section>

<div class="d-flex justify-content-center">
  <div class="principal__search animate__animated animate__fadeInUp">
    <a class="principal__search--boton textos">VALORES CORPORATIVOS</a>
  </div>
</div>
<section class="course container-fluid" id="valores">
  <figure class="course__picture_servicios">
    <img src="./assets/img/valores.jpg" class="course__img" />
  </figure>
</section>
