<div id="servicios"></div>
<div class="d-flex justify-content-center">
  <div class="section-header-title animate__animated animate__fadeInUp">
    <h1 class="section-title">SERVICIOS</h1>
  </div>
</div>
<section class="section-view container-fluid my-4">
  <figure class="section-view-picture animate__animated animate__fadeIn">
    <img src="./assets/img/servicios.jpg" class="section-imagen" />
  </figure>

  <div class="section-view-content animate__animated animate__fadeIn">
    <h2 class="title">Servicios:</h2>
    <p class="about__paragraph textos">
      Administración de Propiedad horizontal.
      <br />
      Gestión de avalúos inmobiliarios.
      <br />
      Renta de Propiedad.
      <br />
      Venta de Propiedad.
      <br />
      Servicios de mantenimiento y adecuación
      <br />
      Servicios de proyección ambiental.
      <br />
      Administración de establecimientos comerciales (Bodegas,locales,centros comerciales y centros de entretenimiento).
      <br />
      Servicios In-House de conserjería y Aseo.
      <br />
      Asesorías contables, jurídicas y financieras.
    </p>
  </div>
</section>
