<div id="servicios"></div>
<div class="d-flex justify-content-center">
  <div class="section-header-title animate__animated animate__fadeInUp">
    <h1 class="section-title">SERVICIOS</h1>
  </div>
</div>
<section class="section-view container-fluid my-4">
  <figure class="section-view-picture animate__animated animate__fadeIn">
    <img src="./assets/img/servicios.jpg" class="section-imagen" />
  </figure>

  <div class="section-view-content animate__animated animate__fadeIn">
    <h2 class="title">Servicios:</h2>
    <p class="about__paragraph textos">
     <a (click)="abrirModal('administracion')"> Administración de Propiedad horizontal.</a>
      <br />
      Gestión de avalúos inmobiliarios.
      <br />
      Renta de Propiedad.
      <br />
      Venta de Propiedad.
      <br />
      <a (click)="abrirModal('mantenimiento')">Servicios de mantenimiento y adecuación</a>
      <br />
      Servicios de proyección ambiental.
      <br />
      Administración de establecimientos comerciales (Bodegas,locales,centros comerciales y centros de entretenimiento).
      <br />
      Servicios In-House de conserjería y Aseo.
      <br />
      Asesorías <a (click)="abrirModal('contable')">contables</a>, <a (click)="abrirModal('juridica')">jurídicas</a> y financieras.
    </p>
  </div>
</section>

<app-sjservicios-modal [visible]="visible" (eventCloseDialogModal)="closeModal($event)">
  <ng-container [ngSwitch]="categoria">
    <ng-container *ngSwitchCase="'administracion'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Santiago Valencia Lobo</h5>
          <p class="card-text">Teléfono: 3205712040</p>
          <p class="card-text">Email: direccionadministrativa@sjasociadossas.com</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'juridica'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cristian Garcia Garcia</h5>
          <p class="card-text">Teléfono: 3122962390</p>
          <p class="card-text">Email: direccionjuridica@sjasociadossas.com</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'contable'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Stivenson Duque Guzman</h5>
          <p class="card-text">Teléfono: 3103566071</p>
          <p class="card-text">Email: direccioncontable@sjasociadossas.com</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'mantenimiento'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Juan Carlos Cardenas</h5>
          <p class="card-text">Teléfono: 3122976917</p>
          <p class="card-text">Email: direccionoperativa@sjasociadossas.com</p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-sjservicios-modal>