@import 'layout.functions';

#propiedades-venta-block {
  .titulo-venta {
    font-size: 30;
    font-weight: 700;
    color: var(--color-secundario);
  }
    .titulo-sin-registro {
    font-size: js-font-size(28px);
    font-weight: 700;
    color: var(--color-secundario);
  }
  .btn-filtros {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-filtros i {
    font-size: 1.5rem; /* Ajusta el tamaño del icono según tus necesidades */
    color: var(--color-secundario); /* Ajusta el color del icono según tus necesidades */
  }
}
