:root {
  --color-principal: #162328;
  --color-hover: #282a2c;
  --color-secundario: #8a8b8e;
  --color-tercer: #434041;
  --color-wp: #25d366;
  --gray-color-1: #808080;
  --gray-color-2: #e7e8e9;
  --gray-color-3: #e3e3e3;
  --gray-color-4: #c9c6c6;
  --gray-color-5: #f7f7f7;
  --gray-color-6: #ced4da;
  --gray-color-7: #575555;
  --black-color-0: #000000;
  --black-color-1: #101010;
  --black-color-2: #585858;
  --black-color-3: rgba(0, 0, 0, 0.3);
  --black-color-4: rgba(255, 255, 255, 0.5);
  --black-color-5: rgba(255, 255, 255, 0.6);
  --black-color-6: rgba(255, 255, 255, 0.7);
  --black-color-7: rgba(255, 255, 255, 0.8);
  --white-color-1: #ffffff;
  --white-color-2: #e7e7e7;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'sans-serif', 'Arial';
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-secundario);
}

::-webkit-scrollbar-thumb {
  background: var(--color-principal);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-principal);
}

.form-control {
  &:focus-visible {
    outline: solid 1.3px var(--color-hover);
  }
  &:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 65, 0.25);
  }
}

.form-button {
  display: flex;
  justify-content: center;
  width: min(100%, 10rem);

  .login-btn {
    background-color: var(--color-principal);
    border: 0;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all;

    &:hover {
      background-color: var(--color-hover);
    }
  }

  .form-btn {
    background-color: var(--color-principal);
    border: 0;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all;

    &.bg-gray {
      background-color: var(--color-secundario);

      &:hover {
        background-color: var(--color-tercer);
      }
    }

    &.bg-link {
      background-color: #fff;
      color: var(--color-principal);

      &:hover {
        background-color: #fff;
        border: 1px solid var(--color-principal);
      }
    }

    &:hover {
      background-color: var(--color-hover);
    }
  }
}

.titulo-section {
  font-size: cap-font-size(32px);
  font-weight: 900;
  margin-bottom: cap-font-size(32px);

  h2 {
    color: var(--color-principal);

    &.h-white {
      color: #fff;
    }
  }
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-datatable.p-datatable-custom {
  .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
  }

  .p-paginator {
    padding: 1rem;
  }

  .p-datatable-thead > tr > th {
    text-align: left;

    &.center {
      text-align: center;
    }
  }

  .p-datatable-tbody > tr > td {
    cursor: auto;

    &.center {
      text-align: center;
    }
  }

  .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
  }
}

section[id] {
  scroll-margin-top: 70px;
}

nav {
  background-color: #fff;
  width: 100%;
  // margin-bottom: .5rem;
  position: fixed;
  box-shadow: 5px 5px 15px #00000046;
  z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-light .navbar-nav .nav-link.active-link {
  color: #000;
  //text-decoration: underline;
}
a:link {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
  text-decoration: none;
}

.wrapper-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 5rem;
  padding-top: 1rem;

  .section-view {
    color: #000000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .section-view-picture {
      margin: 0;
      grid-area: 1 / 3 / 6 / 6;

      &.section-view-picture--right {
        grid-area: 1 / 1 / 6 / 4;
      }

      .section-imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    .section-view-content {
      align-self: center;
      border-radius: 20px;
      width: 97%;
      margin: 0 auto;
      padding: 30px;
      background: #ffffff;
      box-shadow: 5px 5px 15px #88888846;
      grid-area: 2 / 1 / 5 / 4;

      &.section-view-content--left {
        grid-area: 2 / 3 / 5 / 6;
      }
    }

    .section-view-content-valores {
      margin: 0;
      grid-area: 1 / 1 / 6 / 6;
    }
  }

  .section-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 3.5rem;
    width: 100%;
    border-radius: 4rem;
    margin-top: 1rem;
    text-align: center;

    .section-title {
      color: var(--color-principal);
      cursor: pointer;
      padding: 1rem 3rem;
      border-radius: 0.7rem;
      font-size: 3rem;
      font-weight: 700;

      &:hover {
        color: var(--color-hover);
      }
    }
  }

  .enviar {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 0.8em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;

    span {
      display: block;
      margin-left: 0.3em;
      transition: all 0.3s ease-in-out;
    }

    svg {
      display: block;
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }

    &:hover .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    &:hover svg {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }

    &:hover span {
      transform: translateX(5em);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .margin-custom {
    display: block;
    height: 5rem;
  }
}

/* Responsive */
@media screen and (max-width: 960px) {
  .p-datatable {
    &.p-datatable-custom {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr {
        border-bottom: 1px solid var(--black-color-2);

        > td {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          border: 0;

          .p-column-title {
            padding: 0;
            display: inline-block;
            margin: 0 0.5rem 0 0;
          }

          .p-progressbar {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  .p-fileupload .p-fileupload-buttonbar .p-button {
    margin-right: 0.5rem;
    padding: 0.5rem 0.7rem !important;
    width: 6rem !important;
    font-size: 0.6rem !important;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-content {
    padding: 0.5rem;

    .margin-custom {
      height: 3rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper-content {
    padding: 0.5rem;

    .section-view {
      .section-view-picture {
        grid-area: 1 / 1 / 6 / 6;

        &.section-view-picture--right {
          grid-area: 1 / 1 / 6 / 6;
        }
      }

      .section-view-content {
        grid-area: 2 / 1 / 5 / 6;

        &.section-view-content--left {
          grid-area: 2 / 1 / 5 / 6;
        }
      }
    }
    .section-header-title {
      .section-title {
        font-size: 2rem;
      }
    }
  }
}
