.blok-upload-files {
  .upload-file-text {
    text-align: center;
    font-size: cap-font-size(14px);
    color: var(--color-secundario);
    padding: cap-font-size(16px) 0;
  }
}

.images-uploaded {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: cap-font-size(8px);
  padding: cap-font-size(5px);

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 400;
    font-size: cap-font-size(10px);
  }

  .div2 {
    grid-area: 1 / 2 / 2 / 6;

    .p-progressbar {
      font-size: cap-font-size(10px);
      height: cap-font-size(15px);

      &.p-progressbar-value {
        background: var(--purple-color-1);
      }
    }
  }
}
