<div class="container" id="propiedades-arriendo-block">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6 text-center">
      <div class="animate__animated animate__fadeInUp">
        <br />
        <h1 class="titulo-arriendo text-center">Arriendos</h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 my-3">
      <button class="btn-filtros" (click)="toggleFiltros()">
        <i class="pi pi-plus titulo-sin-registro"> Otros filtros</i>  <!-- Reemplaza "material-icons" con la clase de iconos que estés utilizando -->
      </button>
      <app-inmuebles-filtros *ngIf="mostrarFiltros" (actionFiltrosInmueble)="showPropiedades($event)"></app-inmuebles-filtros>
    </div>
  </div>
 <!-- <div class="row justify-content-center">
    <div class="col-12 my-3">
      <app-inmuebles-filtros (actionFiltrosInmueble)="showPropiedades($event)"></app-inmuebles-filtros>
    </div>
  </div>-->

  <ng-container *ngIf="propiedadesArriendo.length; else sinPropiedadesArriendo">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 my-3" *ngFor="let propiedad of propiedadesArriendo">
        <app-inmueble-propiedad-item [inmublePropiedad]="propiedad"></app-inmueble-propiedad-item>
      </div>
    </div>
  </ng-container>
  <div>
    <br>
    <br>
    <br>
  </div>
  <ng-template #sinPropiedadesArriendo>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 text-center">
        <div class="animate__animated animate__fadeInUp">
          <img src="./assets/image/sinDatos.png" alt="sin-registro" class="img-fluid" />
          <p class="titulo-sin-registro">No hay registros</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
