<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid mx-5">
    <a class="navbar-brand" href="/">
      <img src="./assets/image/logo-js.png" alt="" width="40" height="44" />
    </a>
    <a class="navbar-brand" href="#inicio">
      <span class="d-none d-sm-block">SJ Asociados Administradores P.H</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-link"><a href="#somos" class="nav-item" routerLinkActive="active-link">Quienes Somos</a></li>
        <li class="nav-link"><a href="#propiedad" class="nav-item" routerLinkActive="active-link">Copropiedades</a></li>
        <li class="nav-link"><a href="#servicios" class="nav-item" routerLinkActive="active-link">Servicios</a></li>
        <li class="nav-link"><a href="#valores" class="nav-item" routerLinkActive="active-link">Valores</a></li>
        <li class="nav-link"><a href="inmuebles" class="nav-item" routerLinkActive="active-link">Inmuebles</a></li>
        <li class="nav-link">
          <a href="https://www.soportemesa.com/sj" class="nav-item" routerLinkActive="active-link" target="_blank">Soporte</a>
        </li>
        <li class="nav-link"><a href="#contacto" class="nav-item" routerLinkActive="active-link">Solicitud</a></li>
      </ul>
    </div>
  </div>
</nav>
