<div class="margin-custom" id="somos"></div>
<div class="d-flex justify-content-center">
  <div class="section-header-title animate__animated animate__fadeInUp">
    <h1 class="section-title">
      <img src="./assets/image/logo-js.png" alt="" width="200" height="200" /> <br />SJ Asociados Administradores P.H
    </h1>
  </div>
</div>
<section class="section-view container-fluid my-5">
  <figure class="section-view-picture animate__animated animate__fadeInLeft">
    <img src="./assets/image/nosotros-1.jpg" class="section-imagen" />
  </figure>

  <div class="section-view-content animate__animated animate__fadeIn">
    <h2 class="title">Quienes Somos:</h2>
    <p class="about__paragraph textos">
      SJ Asociados Administradores P.H. Es una empresa enfocada en el sector inmobiliario y de finca raíz en Colombia - Antioquia, con un
      portafolio de servicios que va diseñado para la administración, comercialización: en venta, renta y avalúo de propiedad raíz.
      <br /><br />
      Nuestro equipo humano, compuesto por profesionales en cada una de las áreas relacionadas con la gestión de propiedad horizontal ( La
      Dirección Administrativa encargada de las funciones: Contable, financiero y legal. Y una Dirección Operativa encargada de las
      funciones: Técnicas, mantenimiento, soporte y tecnología). Lo que hace posible que la administración sea generadora de valor,
      cumpliendo con los estándares de calidad
    </p>
  </div>
</section>
<section class="section-view container-fluid">
  <figure class="section-view-picture section-view-picture--right animate__animated animate__fadeInLeft">
    <img src="./assets/image/nosotros-2.jpg" class="section-imagen" />
  </figure>

  <div class="section-view-content section-view-content--left animate__animated animate__fadeIn">
    <h2 class="title">Misión:</h2>
    <p class="about__paragraph textos">
      Gestionar propiedades optimizando e incrementando el valor de las mismas en el tiempo, generando satisfacción de nuestros clientes,
      usuarios y proveedores, garantizando el adecuado funcionamientos, la optimización de procesos y la valorización de los mismos de
      manera sostenible, y con conocimiento de la normatividad aplicable a las mismas. Todo esto ejecutado por un equipo humano enfocado al
      servicio y a la gestión oportuna.
    </p>
  </div>
</section>

<section class="section-view container-fluid my-5">
  <figure class="section-view-picture animate__animated animate__fadeInLeft">
    <img src="./assets/image/nosotros-3.jpg" class="section-imagen" />
  </figure>

  <div class="section-view-content animate__animated animate__fadeIn">
    <h2 class="title">Visión:</h2>
    <p class="about__paragraph textos">
      Para el año 2023 seremos reconocidos en Antioquia como una de las firmas líderes en servicios integrales de administración de
      propiedad horizontal, con un modelo de gestión sistematizado en parámetros eficientes, que permiten incrementar el valor de las
      propiedades horizontales en el tiempo.
    </p>
  </div>
</section>
