@import 'layout.functions';

.icon-custom {
  font-size: js-font-size(20px);
  color: var(--color-principal);
  margin-left: js-font-size(8px);
  margin-right: js-font-size(8px);
  font-weight: 900;
  cursor: pointer;
}
