@import 'layout.functions';

.layout-modal-general {
  .p-dialog-mask {
    background-color: var(--black-color-5);
    pointer-events: unset;

    .p-dialog {
      .p-dialog-header,
      .p-dialog-content {
        background-color: var(--gray-color-2);
      }
    }
  }
}
