@import 'layout.functions';

.galeria-img-inmueble {
  width: 100%;
  height: js-font-size(400px);
  object-fit: cover;
}

.galeria-img-inmueble-full {
  width: 45%;
  display: block;
}

button.btn-custom {
  width: 45%;
}
